<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>
	
	<typeAliases>
		<typeAlias type="com.koitt.board.model.Board" alias="Board"/>
		<typeAlias type="com.koitt.board.model.UserInfo" alias="UserInfo"/>
		<typeAlias type="com.koitt.board.model.UserType" alias="UserType"/>
		<typeAlias type="com.koitt.board.model.Movie" alias="Movie"/>
		<typeAlias type="com.koitt.board.model.Screen" alias="Screen"/>
		<typeAlias type="com.koitt.board.model.Ticket" alias="Ticket"/>
		<typeAlias type="com.koitt.board.model.Theater" alias="Theater"/>
		<typeAlias type="com.koitt.board.model.Schedule" alias= "Schedule"/>
		<typeAlias type="com.koitt.board.model.Coupon" alias= "Coupon" />
	</typeAliases>
</configuration>